*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}

.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#07A3B2 ,#D9ECC7);
}
.box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.3);
    border: 2px solid rgba(51, 48, 48, 0.5);
    border-radius: 20px;
    padding: 50px 60px 70px;
    text-align: center;
}
.box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(13, 13, 51);
    position: relative;
}
.box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: rgb(13, 13, 51);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #646262;
}
form p{
    text-align: left;
    font-size: 13px;

}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn button{
    flex-basis: 48%;
    font-size: 15px;
    background: rgb(13, 13, 51);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input{
    height: 200px;
}
.btn button.disable{
    background: #eaeaea;
    color: #555;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }

    .box {
        max-width: 100%;
    }
}
