@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
  background: linear-gradient(#07A3B2 ,#D9ECC7);
  font-size: 13px;


}

.flex_align_justify{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_align{
  display: flex;
  align-items: center;

}

.wrapper{
  height: 100vh;
  padding: 100px 20px;
}

.terms_service{
  width: 500px;
  height: 450px;
  background:white;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
}

.terms_service .tc_item{
  padding: 20px 40px;
}

.terms_service .tc_head{

  height: 90px;
  text-align: center;
  margin-top: 25px;

}

.terms_service .tc_body ol li{
font-size: 14px;
}

.terms_service .tc_body{

  overflow: auto;
  padding-right: 20px;
}
.terms_service .tc_body ol li{
  margin-bottom: 15px;
}
.terms_service .tc_body ol li p{
    margin-bottom: 15px;

  }

.terms_service .tc_foot{
  justify-content: center;
  height: 50px;
  padding: 25px;
}

.terms_service .tc_foot button{
  width: 50%;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
}


.terms_service .tc_foot button.accept_btn{
  background: blue;
  color: white;
  font-size: 15px;
}


.terms_service .tc_foot button.accept_btn:hover{
  background: rgb(53, 146, 53);
  color: white;
}

.terms_service .last p {
    margin-top: 10px;
    text-align: center;
    position: relative;
  }
  .terms_service .last p::after {
    content: "";
    position: absolute;
    font-size: 15px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 1px;
    background-color: #302d2d;
  }
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 10px;
  }

  .terms_service {
    width: 90%;
    max-width: 100%;
    height: auto;
  }

  .terms_service .tc_body {
    padding-right: 10px;
  }

  .terms_service .tc_foot {
    flex-direction: column;
    height: auto;
  }

  .terms_service .tc_foot button {
    margin: 10px 0;
  }
}
