@import url('https://fonts.goggleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700&display=swap');
:root{
--color: #07A3B2;
}
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
}

.heading{
    margin: 1rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: #07A3B2;
    position: relative;
    letter-spacing: .2rem;
}

 .btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: #07A3B2;
    color: #02262c;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    font-size: 1.7rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
 }
 .btn:hover{
    letter-spacing: .1rem;
    opacity: .8rem;
 }



.header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left:0;
    justify-content: space-between;
   z-index: 100;
}

.header .logo{
    font-size: 2.5rem;
    color: #02262c;
}
.header .logo i{
    padding: 0  .5rem;
}
.header .navbar ul{
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-around;
}
.header .navbar ul li{
    margin: 0 1.5rem;
}
.header .navbar ul li a{
    font-size: 2rem;
    color: black;
}
.header .navbar ul li a:hover{
    color: #fff;
}
.header .fa-bars{
color: #0a0a0a;
cursor:pointer;
font-size: 3rem;
display: none;
}

.home{
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(#D9ECC7,var(--color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}
.home .banner{
    color: rgb(17, 16, 16);
    font-size: 5rem;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
.home .slogan{
 color: rgb(22, 21, 21);
 font-size: 2.5rem;
 font-weight: 400;
}
.home button{
    height: 4rem;
    width: 18rem;
    background: #032d35;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    outline: none;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
.home button:hover{
    letter-spacing: .1rem;
    color: #fff;
}

.home .fa-cog{
    position: absolute;
    font-size: 30rem;
    opacity: .30;
    color: #fff;
    animation: rotate 10s linear infinite;
}
.home .nut1{
    top: 10%;
     left: -15rem;

}
.home .nut2{
    bottom: 23%;
    right: -13rem;
    animation-direction: reverse;
   }

   @keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
   }
   .about{
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
   }
   .about .row{
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 0 4rem;
    }
   .about .row .content{
    text-align: left;
   }
   .about .row .image img{
    width: 30vw;
   }
   .about .row .content h3{
    font-size: 3rem;
    color: #07A3B2;
   }

   .about .row .content p{
    font-size: 1.4rem;
    color: #0a0a0a;
    padding: 1rem;
   }
   .about::before, .about::after{
    content: '';
    position: absolute;
    z-index: -1;
    opacity: .2;
    border-radius: 50%;
   }
   .about::before{
    height: 50rem;
    width: 50rem;
    background: #ccc;
    bottom: -10rem; left: -10rem;
   }
   .about::after{
    height: 60rem;
    width: 60rem;
    background: #07A3B2;
    top: -9rem; right: -10rem;
   }
    .feature{
    width: 100vw;
    text-align: center;
   }
   .feature .row{
    margin: 2rem 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .feature .row .image img{
     width: 33vw;
    height: 65vh;
   }
   .feature .row .content{
    text-align: left;
    padding: 0 3rem;
   }
   .feature .row .content h3{
    font-size: 3rem;
    color: #07A3B2;

   }

   .feature .row .content p{
    font-size: 1.4rem;
    color: #0a0a0a;
    padding: 1rem;
   }
   .footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: #07A3B2;

   }



@media(max-width:768px){
    html{
        font-size: 50%;
    }
    .header .fa-bars{
        display: block;
    }
    .header .navbar{
        position: fixed;
        top: -120%; left: 0;
        height: auto;
        width: 100%;
        background: #c3fae8;
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }
    .header .navbar ul{
      height: 100%;
      width: 100%;
      flex-flow: column;
    }
    .header .navbar ul li{
        margin: 1rem 0;
    }
    .header .navbar ul li a{
        color: #0a0a0a;
        font-size: 2.4rem;
    }
    .header .fa-times{
        transform: rotate(180deg);
    }
    .header .nav-toggle{
        top: 5.8rem;
    }
    .home .banner{
        font-size: 4rem;
    }
    .home .slogan{
        font-size: 1.7rem;
    }
    .about .row{
        flex-flow: column-reverse;
        padding: 0 2rem;
    }
    .about .row .image img{
        width: 65vh;
    }
    .feature .row{
        flex-flow: column-reverse;
    }
    .feature .row:nth-child(even){
        flex-flow: column;
    }
    .feature .row .image img{
        width: 100vw;;
    }
    .feature .row .content{
        padding: 0;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }

     .box {
        max-width: 100%;
    }
}
