<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Connection</title>
    <link rel="stylesheet" th:href="@{/started/cssfile/net-file.css}">
</head>
<body>
    <div class="container">
       <img th:src="@{/started/images/connection.png}" id="image">
       <p>Please check your network connection</p>
    </div>
   <div class="btn">
        <button class="button">Try Again</button>
 </div>
 

</body>
</html>
